---
layout: base.njk
---

<div class="container">
  <div class="container-header">
    <div class="header-text">
      <h1>Evan and Nicole</h1>
      <div class="header-details">
        <h4>Saturday, September 27, 2025</h4>
        <h4><a href="https://acehotel.com/brooklyn/">Ace Hotel Brooklyn</a></h4>
      </div>
      <p>More information soon!</p>
    </div>
  </div>
  <div class="container-image">
  </div>
</div>