---
layout: base.njk
---

<div class="container">
  <div class="container-header">
    <div class="header-text">
      <div class="header-image"><img src="/assets/header.png" /></div>
      <div class="header-details">
        <h4><a href="https://acehotel.com/brooklyn/">Ace Hotel Brooklyn</a></h4>
      </div>
      <div class="date"><img src="/assets/date.png" /></div>
      <p>More information soon!</p>
    </div>
  </div>
  <div class="container-image">
  </div>
</div>