---
layout: base.njk
---

<div class="travel-container">
  <div class="travel-warning">
    <p>This is a busy weekend in New York with the UN General Assembly and the Ryder Cup, so we recommend booking travel and lodging as soon as possible!</p>
  </div>
  <div class="travel-section">
    <div class="travel-illo">
      <img src="/assets/illo-plane.png" />
      <h1>Travel</h1>
    </div>
    <h3>Airports</h3>
    <ul>
      <li>LaGuardia Airport (LGA)</li>
      <li>John F. Kennedy International Airport (JFK)</li>
      <li>Newark Liberty International Airport (EWR)</li>
    </ul>
    <h3>Train stations</h3>
    <ul>
      <li>Penn Station</li>
      <li>Grand Central Station</li>
    </ul>
  </div>
  <div class="travel-section">
    <div class="travel-illo">
      <img src="/assets/illo-hotel.png" />
      <h1>Lodging</h1>
    </div>
    <p>We've booked room blocks at three different hotels for September 26 to September 28.</p>
    <div class="hotel">
      <h3><a href="https://maps.app.goo.gl/2TJjF77RqnZiPoZWA">Ace Hotel Brooklyn</a></h3>
      <p>Book using <a href="https://reservations.acehotel.com/?&hotel=30176&arrive=2025-09-26&depart=2025-09-28&group=RIZH0925">this link</a>. The booking cut-off date for this block is August 12, 2025.</p>
    </div>
    <div class="hotel">
      <h3><a href="https://maps.app.goo.gl/o3MP3aJBixw8KyMH8">EVEN Hotel Brooklyn</a></h3>
      <p>Located down the street from the Ace Hotel. Book using <a href="https://www.ihg.com/redirect?path=asearch&brandCode=6C&localeCode=en&regionCode=1&hotelCode=BXYEV&checkInDate=26&checkInMonthYear=082025&checkOutDate=28&checkOutMonthYear=082025&rateCode=6CBARC&_PMID=99801505&GPC=RZW&cn=no&viewfullsite=true">this link</a>. The booking cut-off date for this block is August 27, 2025.</p>
    </div>
    <div class="hotel">
      <h3><a href="https://maps.app.goo.gl/2zudtep4m9wyr2jg9">Aloft Long Island City-Manhattan View</a></h3>
      <p>Located in Long Island City and accessible to the Ace Hotel by the G train. Book using <a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1737133987744&key=GRP&guestreslink2=true&app=resvlink">this link</a>. You may also book by calling Marriott Reservations at 1-800-228-9290 and mentioning the Rindler Zhu Wedding. The booking cut-off date for this block is August 27, 2025.</p>
    </div>
  </div>
  <p class="travel-info">There are more hotels near the <a href="https://maps.app.goo.gl/2TJjF77RqnZiPoZWA">the venue</a>. The Ace Hotel Brooklyn is accessible by several subway lines: Hoyt-Schermerhorn A/C/G, Nevins St 2/3/4/5, and DeKalb B/Q/R.</p>
</div>
