*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

.container-header, .container-image {
  display: flex;
  flex: 1 0 25%;
  background: #f1edd8;
}

.container-header:before, .container-image:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.container-image {
  background-image: url("/assets/coming-soon.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 75%;
}

.container-header {
  justify-content: center;
  align-items: center;
}

.header-text {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Courier New', serif;
}

.header-details {
  margin-bottom: 1em;
}

.header-text a {
  letter-spacing: 0.13em;
  color: #000000;
}

.header-image {
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.date {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 5em;
}

/* responsive styles */

@media only screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }

  .container-header, .container-image {
    flex-basis: 100%;
  }
}
